.accordion-toggle {
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    font-weight: 900;
}

body {
    &.dark {
        .accordion-toggle {
            -webkit-text-stroke-color: white;
            &:hover {
                -webkit-text-fill-color: white;
            }
        }

        details[open] summary .accordion-toggle {
            -webkit-text-fill-color: white;
            @apply ml-0;
        }

        .accordion-body,
        .markdown-container  {
            h1,
            h2,
            h3,
            h4,
            .big-link {
                color: white;
            }

            a {
                @apply text-primary underline;
            }
        }
    }

    &.light {
        .accordion-toggle {
            -webkit-text-stroke-color: #1e1e17;
            &:hover {
                -webkit-text-fill-color: #1e1e17;
            }
        }

        .accordion-body,
        .markdown-container {
            h1,
            h2,
            h3,
            h4,
            .big-link {
                color: #1e1e17;
            }

            a {
                @apply text-primary underline transform  transition-all ease-in-out duration-300;
            }

      
        
        }

        details[open] summary .accordion-toggle {
            -webkit-text-fill-color: #1e1e17;

            @apply ml-0;
        }
    }
}

details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}

details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
}
@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

details::hover {
    background-color: rgba(255, 255, 255, 0.1);
}

details,
details[open] summary~*,
.markdown-container {
        h1,
        h2,
        h3,
        h4,
        p,
        strong,
        p strong,
        li strong,
        code,
        p code,
        blockquote,
        blockquote p {
            @apply text-text-main;
        }

        a {
            @apply text-primary;
        }

        .big-link {

            svg {
                @apply transform transition-all ease-in-out duration-300;
            }
        &:hover {
            @apply text-primary;

            svg {
                @apply transform translate-x-4;
            }
        }
    }
}

em {
    @apply px-1 py-1.5 bg-primary bg-opacity-30;
}