.circle {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    animation: morph 3s linear infinite, scale 0.3s ease-in-out, filter 0.3s ease-in-out;

    @apply transform transition-all w-72 h-72 overflow-hidden filter grayscale;

    img {
        @apply w-full h-full;
    }
}

@keyframes morph {
    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

.project-link {
    &:hover {
       
        .circle {
            @apply transform scale-105 filter-none;
        }
        @apply no-underline;
    }
}