body.dark {
    --primary: #ffc701;
    --text-main: white;
    background-color: $primaryDark;
}

body.light {
    --primary: #ffc701;
    --text-main: #1e1e17;
    background-color: $primaryLight;
}

.svgMupo {
    fill: var(--text-main);

    &:hover {
        fill: var(--primary);
    }
}

body {
    &.dark {
        .svgMupo {
            #letters path {
                fill: $primaryDark;
            }
        }
        nav a.active {
            color: white !important;
        }
    }

    &.light {
        .svgMupo {
            #letters path {
                fill: white;
            }
        }
        nav a.active {
            color: $primaryDark !important;
        }
    }
}