@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&display=swap');
@font-face {
    font-family: "Migra";
    src: local("Migra"), url(../fonts/Migra-Extrabold.ttf) format("truetype");
}

html,
body {
    @apply font-body ;
}

h1 {
    @apply text-3xl sm:text-4xl lg:text-5xl xl:text-6xl;
}

h2 {
    @apply text-2xl sm:text-3xl lg:text-4xl xl:text-5xl;
}

h3 {
    @apply text-xl sm:text-2xl lg:text-3xl xl:text-4xl;
}

a {
    @apply text-primary transition duration-200 ease-in-out;

    &:hover {
        @apply underline;
    }
}

h1,
h2,
h3,
.big-link {
    @apply font-title;
    font-weight: 900;
}